.guest-mode{
    margin: 40px 0;
}

.guest-mode p{
    font-size: 14.5px;
    color: #fff;
}

.guest-mode a{
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.guest-mode a:hover{
    text-decoration: underline;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-box a{
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.btn-box a:hover{
    text-decoration: underline;
}

.btn-box button{
    width: 90px;
    height: 40px;
    background: #0ef;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #1f293a;
    font-weight: 600;
}

.btn-box button:nth-child(1) {
    background: transparent;
    color: #0ef;
}